html, body, #root, .App {
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

a {
  text-decoration: none;
  padding:5px 35px;
  margin: 0px auto;
  color: #184d18;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: #15bf0f;
}

table td, table th {
  border: 1px solid black;
  padding: 10px 10px;
}

.App {
  text-align: center;
}

.nav {
  margin: 0px;
  padding: 20px 0px 5px 10px;
  background-color: #aff799;
}

.nav li {
  display: inline;
  padding: 5px 0px;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navUnit:hover {
  background-color: #61d463;
}

[aria-current] {
  border-bottom: 4px solid #138516;
}
