.App {
  text-align: center;
}

.selectedLink {
  border-bottom: 2px solid blue;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 0;
}

a {
  text-decoration: none;
  padding:5px 35px;
  margin: 0 auto;
}
