[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
pymongo = "*"
flask-pymongo = "*"
flask-bcrypt = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"
users = "*"

[dev-packages]

[requires]
python_version = "3.9"
